@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
	font-family: "Outfit", sans-serif;
}

@theme {
	--color-primary: #bf4f4f;
	--color-primary-dull: #ae4444;
}

.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}